@{
    ViewBag.Title = "Home Page";
}

<div>
    <form action="~/Controllers/HomeController.cs">
        Gender:<br>
        <input type="text" name="Gender">
        <br>
        Age:<br>
        <input type="number" name="Age">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
</div>

